:root {
    --Fondo: #0A0A0A;
    /*Color negro para el fondo en general*/
    --FondoSecundario: #1A1A1A;
    /*Color gris carbon para secciones*/
    --Botones: #A67C00;
    /*Color dorado oscuro para hover o botones*/
    --Detalles: #FFD700;
    /*Color Champagne gold para bordes o efectos*/
    --Titulos: #F5C76A;
    /*Color dorado clásico, para títulos o íconos*/
    --Descripcion: #F5F5F5;
    /*Color Blanco cálido, para descripcion*/
    --TextoSecundario: #B3B3B3;
    /*Color gris, para descripciones o texto de menor peso*/

}

img, p, li{
    padding: 0;
    margin: 0;
}

h1{
    color: var(--Titulos);
}

p{
    color: var(--Descripcion);
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Monserrat;
    background-color: var(--Fondo);
    font-size: 16px;
}

/* --------------> Estilos para la nav <--------------*/
nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    background-color: var(--FondoSecundario);
    border-bottom: 1px solid var(--Detalles);
    width: 100vw;
    height: 100px;
    z-index: 100;
}
nav .ContainerFirma {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
nav .ContainerFirma img {
    width: 50px;
    height: 50px;
}
nav .ContainerFirma h1{
    color: var(--Titulos);
    margin-left: 8px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 70px;
}
nav li a{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

nav li a:hover{
    background-color: var(--TextoSecundario);
    border-radius: 20px;
}

nav li a:hover p {
    color: black;
  }
nav li a lord-icon{
    width: 45px;
    height: 45px;
}
nav li a p{
    font-weight: bold;
}
nav .Modo{
    margin-right: 60px;
}


main{
    position: relative;
    top: 82px;
    height: 100vh;
    width: 100vw;
}


/* --------------> Estilos para bienvenida <--------------*/

.ContainerBienvenida{
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Empuja el contenido hacia arriba */
    padding-top: 12%;
    flex-direction: row;
}

.ContainerBienvenida img{
    width: 350px;
    height: 350px;
    border-radius: 70px;
    border: 2px solid var(--Detalles);
    z-index: 99;
    padding: 0;
    margin: 0;
}

.ContainerBienvenida .Titulo{
    width: 1200px;
    height: 350px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    z-index: 99;
    padding: 0;
    margin: 0;
}

.ContainerBienvenida .Titulo h1{
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 30px;
    font-family: GoldenState;
    font-weight: bold;
    font-size: 4em;
}

.ContainerBienvenida .Titulo p{
    margin-left: 30px;
    font-size: 2em;
}

.ContainerBienvenida #SVGDesarrollo{
    position: absolute;
    bottom: -150px;
    right: -200px;
    width: 1200px;
    opacity: 25%;
    
}

.ContainerBienvenida #SVGElectronica{
    position: absolute;
    width: 900px;
    height: 800px;
    opacity: 25%;
    top: 0;
    left: 0;
}


.contenido{
    background-color: #FFD700;
}









