:root {
    --Fondo: #0A0A0A;
    /*Color negro para el fondo en general*/
    --FondoSecundario: #1A1A1A;
    /*Color gris carbon para secciones*/
    --Botones: #A67C00;
    /*Color dorado oscuro para hover o botones*/
    --Detalles: #FFD700;
    /*Color Champagne gold para bordes o efectos*/
    --Titulos: #F5C76A;
    /*Color dorado clásico, para títulos o íconos*/
    --Descripcion: #F5F5F5;
    /*Color Blanco cálido, para descripcion*/
    --TextoSecundario: #B3B3B3;
    /*Color gris, para descripciones o texto de menor peso*/
    --TextoOscuro: #000;

}

img,
p,
li {
    padding: 0;
    margin: 0;
}

h1 {
    color: var(--Titulos);
}

p {
    color: var(--Descripcion);
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Monserrat;
    background-color: var(--Fondo);
    font-size: 16px;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* --------------> Estilos para la nav <--------------*/
nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    background-color: var(--FondoSecundario);
    border-bottom: 1px solid var(--Detalles);
    width: 100vw;
    height: 100px;
    z-index: 100;
}

nav .ContainerFirma {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

nav .ContainerFirma img {
    width: 50px;
    height: 50px;
}

nav .ContainerFirma h1 {
    color: var(--Titulos);
    margin-left: 8px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 70px;
}

nav li a {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

nav li a:hover {
    background-color: var(--TextoSecundario);
    border-radius: 20px;
}

nav li a:hover p {
    color: black;
}

nav li a lord-icon {
    width: 45px;
    height: 45px;
}

nav li a p {
    font-weight: bold;
}

nav .Modo {
    margin-right: 60px;
}


main {
    position: relative;
    top: 82px;
    flex: 1;
    width: 100vw;
}

/* --------------> Estilos para bienvenida <--------------*/

.ContainerBienvenida {
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 12%;
    flex-direction: row;
    overflow: hidden;
}

.ContainerBienvenida img {
    width: 350px;
    height: 350px;
    border-radius: 70px;
    border: 2px solid var(--Detalles);
    z-index: 99;
    padding: 0;
    margin: 0;
}

.ContainerBienvenida .Titulo {
    width: 1200px;
    height: 350px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    z-index: 99;
    padding: 0;
    margin: 0;
}

.ContainerBienvenida .Titulo h1 {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 30px;
    font-family: GoldenState;
    font-weight: bold;
    font-size: 4em;
}

.ContainerBienvenida .Titulo p {
    margin-left: 30px;
    font-size: 2em;
}

.ContainerBienvenida #SVGDesarrollo {
    position: absolute;
    bottom: -285px;
    right: -350px;
    width: 1500px;
    opacity: 25%;
}

.ContainerBienvenida #SVGElectronica {
    position: absolute;
    width: 900px;
    height: 900px;
    opacity: 25%;
    top: 0px;
    left: 0px;
}

/* --------------> Estilos para las cartas <--------------*/
.TituloCartas {
    text-align: center;
    padding: 0;
    font-size: 3em;

}

.ContenedorCartas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 40px;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.ContenedorCartas .Carta {
    position: relative;
    background: linear-gradient(135deg, #1e1e2f, #0a0a0a);
    height: 600px;
    border: 2px solid var(--Botones);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

.ContenedorCartas .Carta .SVG {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 103%;
    opacity: 0.15;
}

.Carta-content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.ContenedorCartas .Carta h1 {
    color: #FFD700;
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: center;
}

.ContenedorCartas .Carta ul {
    padding: 0;
    list-style-position: inside;
    margin-bottom: 30px;
}

.ContenedorCartas .Carta li {
    color: var(--Descripcion, #eee);
    font-size: 1.1em;
    margin-bottom: 15px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

.ContenedorCartas .Carta button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: var(--Botones);
    color: var(--Descripcion);
    padding: 15px;
    width: 20%;
    border: 1px solid var(--Detalles);
    border-radius: 20px;
    z-index: 2;
}

.ContenedorCartas .Carta button:hover {
    background-color: var(--Detalles);
    color: var(--TextoOscuro);
    scale: 1.1;
}

footer {
  background-color: var(--FondoSecundario);
  border-top: 1px solid var(--Detalles);
  color: var(--TextoSecundario);
  text-align: center;
  margin-top: 200px;
  padding: 20px 20px;
  font-size: 0.8em;
}

footer a {
  color: var(--Detalles);
  text-decoration: none;
  margin: 0 5px;
}

footer a:hover {
  text-decoration: underline;
  color: var(--Titulos);
}

.footer__frase {
  font-style: italic;
  color: var(--Descripcion);
  margin-bottom: 15px;
  font-size: 16px;
}

.footer__contacto p {
  margin: 5px 0;
  line-height: 1.6;
}